@import "init";
@import "mixin";
@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Indie+Flower&family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho&display=swap');
$clr-black: rgb(0,0,0);
$clr-white: rgb(255, 255, 255);
$fonts-art: 'Indie Flower', cursive;
$fonts-info: 'Cairo', sans-serif;
$fonts-contents: 'PT Serif', serif;
$font-jp: 'Shippori Mincho', serif;

img{
    height: 100%;
}
button{
    background-color: transparent;
    margin: .5rem;
}
ul{
    @include flexR;
    justify-content: center
}

.base-container{
    @include flexC;
    height: 100%;
    color: $clr-black;
    position: relative;
	  -webkit-animation: color-change-4x 5s linear infinite alternate both;
	  animation: color-change-4x 5s linear infinite alternate both;
}

header{
    text-align: center;
    color: $clr-black;
    font-family: $fonts-art;
    padding: 3rem 0;
    width: 100%;
    h1{
        font-size: 4rem;

    }
}
.resume-nav{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba($clr-black, .3);
    color: $clr-white;
    z-index: 10;
  
    li{
      margin: 0 1rem;
      padding: 0;
    }
    li img{
      height: 2rem;
  }
}

.main{
    @include flexC;
    width: 100%;
}
#mainIntro{
  height: 85vh;
  img{
    height: 100%;
    object-fit: contain;
  }

}

.main-resume{
    @include flexC;
    background-color: rgba($clr-white, .7);
    color: $clr-black;
    width: 95%;
    max-width: 750px;
    padding: 1.5rem;
    -webkit-box-shadow: 8px 8px 8px -2px rgba(0,0,0,0.65); 
    box-shadow: 8px 8px 8px -2px rgba(0,0,0,0.65);
	  -webkit-animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	        animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    .main-header{
    position: relative;
    }
    .main-img{
        @include flexC;
    }
    .img-box{
      background-color: $clr-white;
    }
    article{
        min-width: 300px;
        width: 95%;
    }
}
table{
    width: 100%;
    border-collapse: collapse;
    caption{
      padding: .5rem 0;
    }
}

.resume-jp{
  font-family: $font-jp;
  position: relative;
    td, th {
        border: 1px solid $clr-black;
        text-align: left;
        padding: .5rem;
    }
  .main-img{
      position: absolute;
      right: 0rem;
      top: 3.6rem;
      height: 7rem;
      width: 8rem;
  }
}




.resume-en{
  font-family: $fonts-contents;
  
  .main-header{
    @include flexR;
    height: 15rem;
    width: 100%;
    justify-content: space-around;
    position: relative;
    .main-img{
      width: 10rem;
    }
    td, th {
        padding: 1rem;
    }
    table caption{
      background-color: blue;
    }
    .main-content{
      display: none!important;
    }

  }
}
.displayNone{
  display: none;
}



footer{
    text-align: center;
    padding: 1rem 0;
    color: $clr-black;
    font-family: $fonts-info;
}

@media only screen and (max-width: 440px) {
  .main-resume{
    font-size:x-small;
    .main-img{
        top: 3rem;
        right: 0rem;
        width: 5rem;
    }
  }
}



@-webkit-keyframes color-change-4x {
  0% {
    background: #C4FDEC;
  }
  33.3333% {
    background: #95ADB6;
  }
  66.666% {
    background: #C2EFFF;
  }
  100% {
    background: #C9DDF8;
  }
}
@keyframes color-change-4x {
  0% {
    background: #C4FDEC;
  }
  33.3333% {
    background: #C9F7F8;
  }
  66.666% {
    background: #C2EFFF;
  }
  100% {
    background: #C9DDF8;
  }
}
@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}
