@import "init";
@import "mixin";
@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Indie+Flower&family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho&display=swap');
$clr-black: rgb(0,0,0);
$clr-white: rgb(255, 255, 255);
$clr-red: #fa2216;
$fonts-art: 'Indie Flower', cursive;
$fonts-info: 'Cairo', sans-serif;
$fonts-contents: 'PT Serif', serif;
$font-jp: 'Shippori Mincho', serif;


ul{
    @include flexR;
    justify-content: center
}

.base-container{
    @include flexC;
    width: 100%;
    color: $clr-black;
    position: relative;
    overflow-x: hidden;
	  -webkit-animation: color-change-4x .5s linear infinite alternate both;
	  animation: color-change-4x .5s linear infinite alternate both;
}

.resume-nav{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba($clr-black, .7);
    color: $clr-white;
    z-index: 10;
    ul{
      @include flexR;
      justify-content: space-around;
    }
    li{
      padding: 0;
      font-size: 2rem;
    }
    li a:hover, li a:active, li a:focus{
      color: $clr-red;
    }
}

.main{
    @include flexC;
    width: 100%;
    height: 100%;
    padding: 4rem 0;
}

.main-intro{
  @include flexC;
  height: 90vh;
  padding: 4rem 0 4.2rem;
	-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  
  .intro-img{
    height: 100%;
    padding-top: 3rem;
    svg{
      height: 100%;
      object-fit: contain;
    }
  }
}


.intro-ctrlBar{
  @include flexC;
  background-color: rgba($clr-black, .7);
  width: 100%;
  max-width: 400px;
  border-radius: 1rem;
  padding: .5rem;
  color: $clr-white;
  font-family: $fonts-art;
}



.slidecontainer{
  @include flexC;
  margin-top: 1rem;
  justify-content: space-between;
  width: 100%;
  padding: .3rem;
  height: 3.5rem;
  label{
    font-family: $fonts-art;
    width: 15%
  }
  input{
    height: 100%;
    width: 80%;
  }

}





.main-resume{
    @include flexC;
    background-color: rgba($clr-white, .7);
    color: $clr-black;
    width: 95%;
    max-width: 750px;
    padding: 1.5rem;
    -webkit-box-shadow: 8px 8px 8px -2px rgba(0,0,0,0.65); 
    box-shadow: 8px 8px 8px -2px rgba(0,0,0,0.65);
	  -webkit-animation: slit-in-vertical 0.35s ease-out both;
	  animation: slit-in-vertical 0.35s ease-out both;
    border: .5px solid rgba($clr-black, .1);
    .main-header{
    position: relative;
    }
    .main-img{
        @include flexC;
    }
    .img-box{
      background-color: $clr-white;

    }
    article{
        min-width: 300px;
        width: 95%;
    }
}

table{
    width: 100%;
    border-collapse: collapse;
    caption{
      padding: .5rem 0;
    }
}

.resume-jp{
  font-family: $font-jp;
  position: relative;
    td, th {
        border: 1px solid $clr-black;
        text-align: left;
        padding: .5rem;
    }
  .main-img{
      position: absolute;
      right: 0rem;
      top: 3.6rem;
      height: 7rem;
      width: 8rem;
  }
}




.resume-en{
  font-family: $fonts-contents;
  
  .main-header{
    @include flexR;
    padding: 1rem;
    height: 10rem;
    width: 100%;
    justify-content: space-between;
    position: relative;
  }
  .main-img{
    width: 8rem;
  }
  td, th {
      padding: .5rem 0;
  }
  tr{
    border-bottom: 1px solid black;
  }
}
.displayNone{
  display: none;
}



footer{
    text-align: center;
    padding: 1rem 0;
    color: $clr-black;
    font-family: $fonts-art;
    .mailBtn{
      -webkit-animation: vibrate-1 0.3s linear infinite both;
          animation: vibrate-1 0.3s linear infinite both;
    }
}




@media only screen and (max-width: 440px) {
  .main-resume{
    font-size:x-small;
    .main-img{
        top: 3rem;
        right: 0rem;
        width: 5rem;
    }
  }
  .resume-en{
    .img-box{
        top: 3rem;
        right: 0rem;
        width: 5rem;
    }
    p{
      font-size: smaller;
    }
  }
}
@-webkit-keyframes color-change-4x {
  0% {
    background: #C4FDEC;
  }
  33.3333% {
    background: #95ADB6;
  }
  66.666% {
    background: #C2EFFF;
  }
  100% {
    background: #C9DDF8;
  }
}
@keyframes color-change-4x {
  0% {
    background: #C4FDEC;
  }
  33.3333% {
    background: #C9F7F8;
  }
  66.666% {
    background: #C2EFFF;
  }
  100% {
    background: #C9DDF8;
  }
}
@-webkit-keyframes slit-in-vertical {
  0% {
    -webkit-transform: translateZ(-800px) rotateY(90deg);
            transform: translateZ(-800px) rotateY(90deg);
    opacity: 0;
  }
  54% {
    -webkit-transform: translateZ(-160px) rotateY(87deg);
            transform: translateZ(-160px) rotateY(87deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(0) rotateY(0);
            transform: translateZ(0) rotateY(0);
  }
}
@keyframes slit-in-vertical {
  0% {
    -webkit-transform: translateZ(-800px) rotateY(90deg);
            transform: translateZ(-800px) rotateY(90deg);
    opacity: 0;
  }
  54% {
    -webkit-transform: translateZ(-160px) rotateY(87deg);
            transform: translateZ(-160px) rotateY(87deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(0) rotateY(0);
            transform: translateZ(0) rotateY(0);
  }
}
@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
